spring:
  application:
    name: hello-spring-cloud-fengin
  zipkin:
    base-url: http://localhost:16009
eureka:
  client:
    service-url:
       defaultZone: http://eurekaserver2:16001/eureka/,http://eurekaserver1:16000/eureka/,http://eurekaserver3:16002/eureka/

server:
  port: 16007
logging:
  level:
    org.springframework.cloud.openfeign: debug
    org.springframework.cloud.netflix.feign: debug
